---
k8s_nodes:
  children:
    k8s_master_nodes:
    k8s_worker_nodes:

  vars:
    ssh_default_user: root
    ssh_user: non_root_superuser
    ssh_public_key: "ssh-ed25519 AAAA..."

k8s_new_nodes:
  # TODO: Change this after initializing the cluster
  children:
    k8s_master_nodes:
    k8s_worker_nodes:

k8s_master_nodes:
  hosts:
    k8s-master-01:
      node_public_ip: <PUBLIC_IP>
      node_private_ip: 10.0.0.1
    k8s-master-02:
      node_public_ip: <PUBLIC_IP>
      node_private_ip: 10.0.0.2
    k8s-master-03:
      node_public_ip: <PUBLIC_IP>
      node_private_ip: 10.0.0.3

k8s_worker_nodes:
  hosts:
    k8s-worker-01:
      node_public_ip: <PUBLIC_IP>
      node_private_ip: 10.0.0.11
    k8s-worker-02:
      node_public_ip: <PUBLIC_IP>
      node_private_ip: 10.0.0.12
    k8s-worker-03:
      node_public_ip: <PUBLIC_IP>
      node_private_ip: 10.0.0.13
